<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="URL" value="https://qa-easyvend.dgcdn.net/" />
        <add key="ChromeDriverPath" value="C:\ChromeDriver\" />
        <add key="IncorrectLoginAttempts" value="3" />
        <add key="Copyright" value="2022" />
        <add key="version" value="1.2.2.1" />
        <add key="Market_State" value="Missouri" />
        <add key="Market_Country" value="USA" />
        <add key="Site_Default_Country" value="United States" />
        <add key="Site_Default_State" value="Texas" />
        <add key="Vendor_State" value="California" />
        <add key="Vendor_Record_Name" value="Diamond Game Enterprises" />
        <add key="PasswordMinLength" value="8" />
        <add key="DownloadPath" value="C:\Users\Ben\Downloads" />
        <add key="NumberVANsPerGame" value="15" />
        <add key="INN" value="63979400" />
        <add key="SiteAdminUsername" value="travion@rujbreath.com" />
        <add key="SiteAdminPassword" value="Diamond1!" />
        <add key="SiteReportUsername" value="karl0@rujbreath.com" />
        <add key="SiteReportPassword" value="aENCCG1!" />
        <add key="LotteryAdminUsername" value="varun10@rujbreath.com" />
        <add key="LotteryAdminPassword" value="Diamond1!" />
        <add key="VendorAdminUsername" value="bdagg@diamondgame.com" />
        <add key="VendorAdminPassword" value="Diamond1!" />
        <add key="VendorReportUsername" value="icterine.901@rujbreath.com" />
        <add key="VendorReportPassword" value="Diamond1!" />
        <add key="LotteryReportUsername" value="heatwave55@dushirts.com" />
        <add key="LotteryReportPassword" value="Diamond1!" />
        <add key="DefaultUsername" value="bdagg@diamondgame.com" />
        <add key="DefaultUserPassword" value="Diamond1!" />
        <add key="write" value="test5" />
    </appSettings>
</configuration>